<%- include("partials/header.ejs") %>

<div class="container col-xxl-8 px-4 py-5 Bottom-Border">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="images/ME.jpg" class=" mx-lg-auto img-fluid ME" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6 Green-Background">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Hey there, I'm Matt.</h1>
        <p class="lead fs-2">As you might've guessed, I am a Junior Web Developer and I'm aiming to put my
            talents to good use. I'm glad you've made it to this page, because I believe finding the right
            fit for anything involves more than just skill. It requires the right personality and attitude as well. 
            Let me tell you a bit about myself, and I think you'll see that I can be an asset to any team.
        </p>
      </div>
    </div>
  </div>

  <div class="About-Container">
    <div class="About-Left">
        <img src="images/Triforce.jpg">
        <img src="images/Ouroboros.png">
        <img src="images/Jedi_symbol.jpg">
        <img src="images/HiddenLeaf.png">
    </div>
    <div class="my-5 mx-2 About-Me">
     <div class="p-5 text-center Green-Background">
      <div class="container py-5">
        <h1 class="text-body-emphasis">A Brief History of Matt</h1>
        <p class="col-lg-8 mx-auto lead">
            Being born in the early 90's makes me feel like I have an intersting relationship with technology. I grew up in an era 
            of transition, it was like one day I'm carrying around a portable tape-player with corded headphones, and the next
            I've got a mobile phone that has more computing power than every digital device I owned as a child combined. 
            I remember using clunky computers running Windows 98 to play games like
            "Where in Time is Carmen Sandiego" and "3D Pinball", which is like comparing a candle to a volcano against todays PC games.
            I've always had an interest in technology and electronics
            that was probably annoying for my parents as I had a bad habit of messing with settings on our home computer that
            they had almost no knowledge of how to change back, and at some point they decided to stop buying me 
            electronic toys because I repeatedly pulled them apart to try and figure out how they work. Needless to say that
            interest has only grown with time.
        </p>
        <p class="col-lg-8 mx-auto lead">
            In high-school I had the pleasure of taking a robotics class where I wrote my very first line of code. I'm sure you may be able
            to guess what it did, as most programmers have started exactly the same way: Printing "Hello World" on a screen. Of course, this wasn't 
            the limit of what I learned, and by the end of the course I programmed a robot built of legos to navigate a flat track and deliver 
            ping-pong balls into a verticle tube. At the same time I was also learning 3D animation, which I still utilize to this day. 
        </p>
            
        <p class="col-lg-8 mx-auto lead">
            After high-school I persued a more hardware-oriented career path. I obtained an Associate of Applied Sciences degree in Electrical Engineering
            Technology, and have worked in the field since. As I've entered my late-20's / early-30's I've decided to delve deeper into the software side of technology, and I have 
            found a passion and drive that I feel I've been missing from my life. I began with something simple: Pokemon ROM hacks. My late, older brother, Ross, introduced me to Pokemon
            when we were kids and I still enjoy it to this day, so much so that I decided to try my hand at editing Pokemon Fire Red to make a custom story that I could share with
            others (for free of course!). This led me into the world of video game development. Since then I have taught myself how to use Blender for my 3d modeling and animation, 
            and the Godot game engine for writing scripts using GDScript (which is based on JavaScript!) and building games. I hope to someday release a video game in memory of my departed brother: "Gustav the Legendary".
            Take a look at some of the modules I have built for fun while learning how to code and animate: <a href="https://www.tiktok.com/@mr.jupiter_games"> Mr. Jupiter's TikTok</a>.
        </p>

        <p class="col-lg-8 mx-auto lead fs-3">
            I am a nerd through and through, but this is my greatest strength. My love for technology, video games, and all things sci-fi and fantasy drive me to
            create, and with the skills that I have forged through hard work and dedication I will achieve any goal I set before myself.
        </p>
        </div>
     </div>
    </div>

    <div class="About-Right">
        <img src="images/N7.png">
        <img src="images/Godot_icon.png">
        <img src="images/Blender_logo.png">
        <img src="images/EOTCK.png">
    </div>
  </div>


<%- include("partials/footer.ejs") %>