<%- include("partials/header.ejs") %>


<div class="my-5 mx-5">
    <div class="p-5 text-center Green-Background">
      <div class="container py-5">
        <h1 class="text-body-emphasis">A Journey of Success</h1>
        <p class="col-lg-8 mx-auto lead fs-4">
            With unwavering perseverance, a drive to learn, and just a touch of stubborness
            I have gained the knowledge and expertise to bring anything I can imagine
            into reality. I can guarantee you won't find anyone else in the world like me.
        </p>
        <p class="col-lg-8 mx-auto lead fs-4">
            To say it is one thing, but I've designed this online portfolio to back up my talk with visual evidence.
            Feel free to browse through my skills and resume, or take a look at the 'About Me' page
            to get a more personal feel for who I am and what I bring to the table.
        </p>
      </div>
    </div>
  </div>

  <%- include("partials/footer.ejs") %>