<%- include("partials/header.ejs") %>

    <div class="Resume">
        <div class="Objective Green-Background">
            <h2>Objective</h2>
            <p>To use and build upon my skills as a developer.</p>
        </div>

        <div class="Education">
            <h2>Education</h2>
            <p>Associate of Applied Sciences, Electrical Engineering Technology - ITT Technical Institute (2012-2014)</p>        
            <hr/>
        </div>

        <div class="Work Green-Background">
           <h2>Work Experience</h2>
            <ul>
            <li>Lead Repair Tech/ Assistant Manager - CPR Cellphone Repair
                <p>Farmington, NM (02/2020-present)</p>
                    <ul>
                        <li>Answer customer questions regarding repairs, services, and products over phone and in person.</li>
                        <li>Perform hardware and software repairs on electronic devices including PCs, game consoles, and mobile devices.</li>
                        <li>Maintained inventory of parts.</li>
                        <li>De-escalate customer issues in person, via telephone, and via email.</li>
                    </ul>
            </li>

            <li>Seasonal Home Theater Technician Assistant - Best Buy/Geek Squad
                <p>Farmington, NM (09/2019-01/2020)</p>
                    <ul>
                        <li>Educated customers on how to use products via demonstration.</li>
                        <li>Assisted technician with installation of home theater devices, kitchen appliances, and various home electronics.</li>
                        <li>Assisted in the transportation of devices like TVs and speaker systems to customers' residences.</li>
                    </ul>
            </li>
            <li>Electronic Technician - Halliburton
                    <p>Farmington, NM (05/2018-05/2019)</p>
                        <ul>
                            <li>Performed electronic preventative maintenance on oilfield equipment and electronic control units.</li>
                            <li>Performed field repairs and calibration of electronic control units.</li>
                            <li>Built and calibrated a variety of sensors and cables.</li>
                            <li>Maintained detailed work order documents relating to maintenance and filed repairs.</li>
                        </ul>
            </li>
            </ul>
            <p>
                Gaps in relevant work history are filled in by seasonal/temporary positions in unrelated fields such as Customer Service (Target, Convenience Stores, Fast Food) and Manufacturing/Production(Inspector/Packer) 
                as I wish to provide the most relevant positions I've held with more detail.
            </p>
 
        </div>

        <div class="ResumeSkills">
            <h2>Skills</h2>
            <ul>
                <li>Proficient with all Windows OS versions.</li>
                <li>In-depth understanding of computer components, hardware and software.</li>
                <li>Advanced critical thinking.</li>
                <li>Concise and efficient communication.</li>
                <li>Quick and adaptive learning.</li>
                <li>Knowledge of programming languages such as JavaScript, C, C++, C#, and GDScript.</li>
                <li>Intermediate knowledge of Front End utilites like HTML, CSS, and CSS Frameworks.</li>
                <li>Knowledge and implementation of JavaScript frameworks such as Node.JS and Express.JS</li>
                <li>Intermediate knowledge of Back End utilites like API's and Databases using SQL/PostgreSQL.</li>
                <li>Proficient with maintaining and updating repositories through Git.</li>
            </ul>
        </div>
        
    </div>


<%- include("partials/footer.ejs") %>